extends layout

block content
  div(data-role="dialog" data-theme="b")
    div(data-role="header")
      h1 Select a channel to chat

    div(data-role="content")
      input(type="text" class="channel" autofocus)
      a(data-role="button" data-icon="check" id="ok") OK

    div(data-role="footer" data-position="fixed")
      small Designed by yxonic. Powered by jQueryMobile, Faye, node.js, and more.

block scripts          
  script(src="/js/channel.js")
