doctype html
html
  head
    title= title
    meta(charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/jquery.mobile-1.4.2.min.css')
  body
    block content
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/jquery.mobile-1.4.2.min.js")
    script(src="/js/underscore.js")
    script(src="/js/backbone.js")
    block scripts
