extends layout

block content
  div(data-role="dialog" data-theme="b" id="ask")
    div(data-role="header")
      h1 Input your name
    div(data-role="content")
      input(type="text" class="name" autofocus)
      a(href="#main" data-role="button" data-icon="check" id="ok") OK

  div(data-role="page" data-theme="b" id="main")
    div(data-role="header" data-position="fixed" id="header")
      h1= title

    div(data-role="content")
      ul(data-role="listview" id="conversation")

    div(data-role="footer" data-position="fixed")
      div(class="container")
        textarea(id="input" rows="1" class="input" placeholder="Press Enter...")
  
block scripts
  script(type="text/template" id="item-template")
    li(class="sentence")
      table
        tr
          td
            code(class="")
              <%- name %>
            | &nbsp;&nbsp;&nbsp;
          td
            div(style="white-space: normal")
              <%- text %>
  script(type="text/template" id="date-template")
    div(style="text-align:right;font-weight:900")
      <br><%- datestr %>
  script(src="/faye/client.js")
  script(src="/js/models/msg.js")
  script(src="/js/collections/msgs.js")
  script(src="/js/views/msg-view.js")
  script(src="/js/views/app-view.js")
  script(type="text/javascript").
    app.room = "/#{channel}";
  script(src="/js/app.js")
